/* Color Palette https://colorhunt.co/palette/222831393e4600adb5eeeeee */
body {
  background-color: #EEEEEE;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  text-align: center;
}
.heading {
  padding-top: 150px;
}
.heading h1 {
  color: #222831;
  margin: 0 auto;
  font-size: 4rem;
}
.heading p {
  font-size: 2rem;
}
hr {
  border-style: none;
  border-top: 1px solid #393E46;
}

img:hover {
  border-radius: 100%;
}

.books {
  color: #00ADB5;
}
.heading {
  background-color: #EEEEEE;
  height: 700px;
}
.experience table {
  margin: auto;
}
.footer {
  background-color: #222831;
  color: white;
  margin: 0;
  padding: 50px 20px;
}
.footer p {
  margin: 20px 0;
}
.footer a {
  color: white;
  margin: 10px 15px;
}
#products {
  color: #393E46;
}
